@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333;
}

header h1 {
	padding: 20px 25px;
	color: #FFF;
	background: #EA4875;
	font-weight: bold;
}

button {
	position: absolute;
	top: 50px;
	right: 25px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

ul {
	display: none;
	list-style-type: none;
}

li a {
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 17px 25px;
	color: #FFF;
	background: #B94B6A;
	border-bottom: 1px solid #A24861;
}

li:last-child a {
	border-bottom: none;
}

main {
	display: block;
	padding: 40px 20px 20px;
	color: #333;
}

p {
	margin-bottom: 50px;
	line-height: 2em;
}