@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #664949;
	background: #6CD8FF url(../img/bg.png) 0 100% repeat-x;
	transition: background .3s;
}

#bg1 {
	height: 100%;
	background: url(../img/bg1.png) 0 100% repeat-x;
	transition: background .3s;
}

#bg2 {
	height: 100%;
	background: url(../img/bg2.png) 0 100% repeat-x;
	transition: background .3s;
}

header h1 {
	padding: 40px 0;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}

main {
	display: block;
	width: 900px;
	background: url(../img/left.png) no-repeat, url(../img/right.png) no-repeat 100% 0;
	margin: 0 auto;
}

#slide {
	position: relative;
	overflow: hidden;
	display: block;
	width: 700px;
	height: 250px;
	margin: 0 auto;
}

#sections {
	position: absolute;
	width: 2800px;
	height: 100%;
}

section {
	float: left;
	width: 700px;
}

section h1 {
	padding-bottom: 20px;
	font-size: 2.5em;
	font-weight: bold;
}

section p {
	line-height: 2em;
}

ul {
	clear: both;
	text-align: center;
}

li {
	display: inline-block;
	margin-right: 35px;
}

li:last-child {
	margin-right: 0;
}

li a {
	text-indent: -9999px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #664949;
}

li a.current {
	background: #988080;
}